* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'poppings',sans-serif;
}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 15%;
}

.escola{
    background-image: linear-gradient(#424E61,#16CFF8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}

.estudante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 24px;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
}

.rodape{
    background-color: black;
    height: 50px 0;
    text-align: center;
}

.rodape-imagem{
    height: 25px;
    padding: 12px 0;
}

.estudante
{background-image: linear-gradient(#16CFF8,#16CFF8);
color: 0000;}

.descricao{
    background-color: #16CFF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px 0;
    padding: 12px 0;
}

.imagems-texto{
    background-color: #16CFF8;
    color: white;
    height: 25px 0;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descricao-do-conteudo{
    background-color: #16CFF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px 0;
    padding: 12px 0;
}

.informacoes{
    background-color: #16CFF8;
    height: 25px 0;
    padding: 12px 0;
    }
.texto-dois{
display: flex;
justify-content: center;
align-items: center;
}